{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended"
  ],
  "ignorePatterns": ["dist", ".eslintrc"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["react-refresh", "simple-import-sort"],
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      },
      "alias": {
        "map": [
          ["@assets", "./src/assets"],
          ["@components", "./src/components"],
          ["@interfaces", "./src/interfaces"],
          ["@constants", "./src/constants"],
          ["@utils", "./src/utils"],
          ["@pages", "./src/pages"],
          ["@hooks", "./src/hooks"],
          ["@store", "./src/store"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  },
  "rules": {
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true }
    ],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "@typescript-eslint/ban-ts-comment": "warn"
  }
}
